<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <section class="row">
          <h1>Help</h1>
        </section>
        <hr>
        <section class="content">
            <h3 style="height:100px;">FAQ</h3>
            <h4>How do I create an account?</h4>
            <h4 style="height:50px;">To create an account click register on the top left and enter your information to sign up<h4>            
            <h4>How do I log out?</h4> 
            <h4 style="height:50px;">To log out simply click log out on the top left to sign out of your account and go back to the home page<h4>            
            <h4>How do I create a blog?</h4> 
            <h4 style="height:50px;">To create a blog you must first be logged in and click create on the top left<h4>
            <img src="http://localhost:3000/images/blog_illustration.jpg", title="Blog illustration",alt="Blog illustration"/>
        </section>
      </main>
      <%- include('../partials/footer'); %>
    </div>
  </body>
</html>

