
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Create Date</label>
            <input type="date" class="form-control" placeholder="Date" name="createDate" id="createDate" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Title</label>
            <input type="text" class="form-control"  placeholder="Title" name="title" id="title" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Search Term</label>
            <input type="text" class="form-control"  placeholder="Search Term" name="searchTerm" id="searchTerm" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Content</label>
            <textarea class="form-control" cols="20" placeholder="Content" name="content" id="content" maxlength="32000" rows="7" required></textarea>
        </div>
    </div>
</div>
