<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Password</label>
            <input type="password" class="form-control"  placeholder="Password" name="password" id="password" required />
        </div>
    </div>
</div>
